In [1]:
import numpy as np
import pandas as pd

In [2]:
h2o_submission_target_benzene_1 = pd.read_csv('../submissions/h2o_submission_target_benzene_1.csv')
h2o_submission_target_carbon_monoxide_1 = pd.read_csv('../submissions/h2o_submission_target_carbon_monoxide_1.csv')
h2o_submission_target_nitrogen_oxides_1 = pd.read_csv('../submissions/h2o_submission_target_nitrogen_oxides_1.csv')

In [3]:
submission = h2o_submission_target_benzene_1.copy()
submission['target_carbon_monoxide'] = h2o_submission_target_carbon_monoxide_1['target_carbon_monoxide']
submission['target_nitrogen_oxides'] = h2o_submission_target_nitrogen_oxides_1['target_nitrogen_oxides']
submission.head()

,date_time,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2011-01-01 00:00:00,1.371859,5.162261,221.818874
1,2011-01-01 01:00:00,2.129047,8.725499,325.375222
2,2011-01-01 02:00:00,1.792321,7.938278,349.336905
3,2011-01-01 03:00:00,1.836218,8.657979,389.974845
4,2011-01-01 04:00:00,1.158169,6.658889,252.131954

In [4]:
submission.to_csv('../submissions/submission_h2o_autoML_1.csv', index=False)