In [1]:
import numpy as np
import pandas as pd
import gc
import time

from sklearn.model_selection import train_test_split

from tqdm import tqdm

import warnings
from time import time

In [2]:
sample_submission = pd.read_csv('../input/sample_submission.csv')
train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')

In [3]:
train.head()

,date_time,deg_C,relative_humidity,absolute_humidity,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2010-03-10 18:00:00,13.1,46.0,0.7578,1387.2,1087.8,1056.0,1742.8,1293.4,2.5,12.0,167.7
1,2010-03-10 19:00:00,13.2,45.3,0.7255,1279.1,888.2,1197.5,1449.9,1010.9,2.1,9.9,98.9
2,2010-03-10 20:00:00,12.6,56.2,0.7502,1331.9,929.6,1060.2,1586.1,1117.0,2.2,9.2,127.1
3,2010-03-10 21:00:00,11.0,62.4,0.7867,1321.0,929.0,1102.9,1536.5,1263.2,2.2,9.7,177.2
4,2010-03-10 22:00:00,11.9,59.0,0.7888,1272.0,852.7,1180.9,1415.5,1132.2,1.5,6.4,121.8

In [4]:
test.head()

,date_time,deg_C,relative_humidity,absolute_humidity,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5
0,2011-01-01 00:00:00,8.0,41.3,0.4375,1108.8,745.7,797.1,880.0,1273.1
1,2011-01-01 01:00:00,5.1,51.7,0.4564,1249.5,864.9,687.9,972.8,1714.0
2,2011-01-01 02:00:00,5.8,51.5,0.4689,1102.6,878.0,693.7,941.9,1300.8
3,2011-01-01 03:00:00,5.0,52.3,0.4693,1139.7,916.2,725.6,1011.0,1283.0
4,2011-01-01 04:00:00,4.5,57.5,0.4650,1022.4,838.5,871.5,967.0,1142.3

In [5]:
train.shape

(7111, 12)

In [6]:
columns = test.columns[1:]

In [8]:
target_0 = train[['target_carbon_monoxide']].values
target_1 = train[['target_benzene']].values
target_2 = train[['target_nitrogen_oxides']].values
train.drop(['date_time', 'target_carbon_monoxide', 'target_benzene', 'target_nitrogen_oxides'], axis=1, inplace=True)
test.drop(['date_time', ], axis=1, inplace=True)

In [9]:
xgtrain_0, xgval_0, y_train_0, y_val_0 = train_test_split(train, target_0, test_size=0.2, random_state=42)
xgtrain_1, xgval_1, y_train_1, y_val_1 = train_test_split(train, target_1, test_size=0.2, random_state=42)
xgtrain_2, xgval_2, y_train_2, y_val_2 = train_test_split(train, target_2, test_size=0.2, random_state=42)

In [10]:
xgtrain_0['target'] = y_train_0
xgval_0['target'] = y_val_0

xgtrain_1['target'] = y_train_1
xgval_1['target'] = y_val_1

xgtrain_2['target'] = y_train_2
xgval_2['target'] = y_val_2

In [12]:
xgtrain_0.to_csv('../input/xgtrain_0.csv', index=False)
xgval_0.to_csv('../input/xgval_0.csv', index=False)

xgtrain_1.to_csv('../input/xgtrain_1.csv', index=False)
xgval_1.to_csv('../input/xgval_1.csv', index=False)

xgtrain_2.to_csv('../input/xgtrain_2.csv', index=False)
xgval_2.to_csv('../input/xgval_2.csv', index=False)